
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image :url("images\ \(1\).jpg");
	background-position: center;
	background-size:cover;
}

#myCanvas{
border-width: 5px;
background-color:rgba(208, 223, 218, 0.034);
}

